.App {
  text-align: center;

}


.Box{
 
  border: 1px solid red;
  background-color: brown;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.Box2{
 
  border: 1px solid yellow;
  
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}